@tailwind base;
@tailwind utilities;

html {
  font-size: 16px; // 1rem
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply hover:text-green-500;
}

// for single elements, we'll avoid extracting vue components and
// use a .tw-* naming convention to extract the common styles
.tw-debug {
  @apply border-4 border-dashed border-red-500;
}

.tw-margin {
  @apply px-6;
}

.tw-page-title {
  @apply font-bold mb-6 text-center text-3xl;
}