.pin-center {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bottom-full { bottom: 100% }
.bottom-half { bottom: 50% }
.left-full { left: 100% }
.left-half { left: 50% }
.right-full { right: 100% }
.right-half { right: 50% }
.top-full { top: 100% }
.top-half { top: 50% }