$duration: 150ms;
$easing: ease-in-out;

//
// single transitions
//
.trans {
    transition: all $duration $easing;
}

.trans-bg {
    transition: background $duration $easing;
}

.trans-border {
    transition: border $duration $easing;
}

.trans-border-color {
    transition: border-color $duration $easing;
}

.trans-color {
    transition: color $duration $easing;
}

.trans-height {
    transition: height $duration $easing;
}

.trans-opacity {
    transition: opacity $duration $easing;
}

.trans-padding {
    transition: padding $duration $easing;
}

.trans-shadow {
    transition: box-shadow $duration $easing;
}

.trans-transform {
    transition: transform $duration $easing;
}

.trans-width {
    transition: width $duration $easing;
}

//
// transition pairs
//
.trans-bg.trans-border {
    transition:
        background $duration $easing,
        border $duration $easing;
}

.trans-bg.trans-border.trans-color {
    transition:
        background $duration $easing,
        border $duration $easing,
        color $duration $easing;
}

.trans-bg.trans-color {
    transition: 
        background $duration $easing, 
        color $duration $easing;
}

.trans-border.trans-color {
    transition: 
        border $duration $easing, 
        color $duration $easing;
}

.trans-border.trans-shadow {
    transition:
        border $duration $easing,
        box-shadow $duration $easing;
}

.trans-border.trans-opacity.trans-shadow {
    transition:
        border $duration $easing,
        box-shadow $duration $easing
        opacity $duration $easing;
}

.trans-opacity.trans-transform {
    transition: 
        opacity $duration $easing, 
        transform $duration $easing;
}