*, 
*:before, 
*:after {
    box-sizing: border-box;
}

a {
    color: config('colors.primary-7');
    text-decoration: none;
    transition: color 150ms ease-in-out;

    &:hover {
        color: config('colors.primary-5');
    }
}

body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}